.background {
    position: absolute;
    width: 100vw;
    height: 33.89vw;
    z-index: -1;
}
.background img {
    width: 100vw;
    height: 33.89vw;
}

.Article-Name, .base {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 20.57vw;
    flex-direction: row;
    width: 98.89vw;
    height: auto;
    background-color: var(--white);
    border-radius: 2.22vw;
    box-sizing: border-box;
    padding: 2.78vw;
    gap: 8vw;
    overflow: hidden;
}
.authour {
    overflow: hidden;
    width: 14vw;
}
.authour .Q_Avatar {
    margin-bottom: 1.6vw;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 1.67vw;
    width: 61.88vw;
}
.tags {
    display: flex;
    flex-direction: row;
    gap: 0.56vw;
}
#width {
    width: 13.92vw;
}
.base {
    margin-top: 0.56vw;
    height: auto;
}
.mini-menu {
    display: flex;
    flex-direction: column;
    gap: 0.69vw;
}
.mini-menu a {
    width: 14vw;
}
.paragraph {
    display: flex;
    flex-direction: column;
    gap: 1.32vw;
}
.paragraph p {
    width: 61.88vw;;
}
.photo {
    margin-top: 1.46vw;
    width: 61.88vw;
    height: 30.486vw;
    overflow: hidden;
    border-radius: 1.11vw;
    background-size: cover; 
}

.nizhnyex {
    background-image: url("../images/Articles/Nizhny/nizhnyex.png");
}

.nizhnyce {
    background-image: url("../images/Articles/Nizhny/nizhnyce.png");
}

.nizhnysh {
    background-image: url("../images/Articles/Nizhny/nizhnysh.png");
}

.nizhnychk {
    background-image: url("../images/Articles/Nizhny/nizhnychk.png");
}

.nizhnykremlin {
    background-image: url("../images/Articles/Nizhny/nizhnykremlin.png");
}

.nizhnynab {
    background-image: url("../images/Articles/Nizhny/nizhnynab.png");
}

.nizhnynf {
    background-image: url("../images/Articles/Nizhny/nizhnynf.png");
}

.nizhnypok {
    background-image: url("../images/Articles/Nizhny/nizhnypok.png");
}

.nizhnystrelka {
    background-image: url("../images/Articles/Nizhny/nizhnystrelka.png");
}

.gde {
    background-image: url("../images/Articles/Sergiev/gde.png");
}

.kuda {
    background-image: url("../images/Articles/Sergiev/kuda.png");
}

.sergiev {
    background-image: url("../images/Articles/Sergiev/sergiev.png");
}

.suzdald {
    background-image: url("../images/Articles/Suzdal/suzdald.png");
}

.suzdalgde {
    background-image: url("../images/Articles/Suzdal/suzdalgde.png");
}

.suzdalm {
    background-image: url("../images/Articles/Suzdal/suzdalm.png");
}

.suzdalmira {
    background-image: url("../images/Articles/Suzdal/suzdalmira.png");
}


.kling {
    background-image: url("../images/Articles/Klin/kling.png");
}

.klinpark {
    background-image: url("../images/Articles/Klin/klinpark.png");
}

.spaskuda {
    background-image: url("../images/Articles/Spas/spaskuda.png");
}

.vologdagde {
    background-image: url("../images/Articles/Vologda/vologdagde.png");
}

.vologda1 {
    background-image: url("../images/Articles/Vologda/vologda1.png");
}

.vologda2 {
    background-image: url("../images/Articles/Vologda/vologda2.png");
}

.vologda3 {
    background-image: url("../images/Articles/Vologda/vologda3.png");
}

.vologda4 {
    background-image: url("../images/Articles/Vologda/vologda4.png");
}

.vologda5 {
    background-image: url("../images/Articles/Vologda/vologda5.png");
}

.vologda6 {
    background-image: url("../images/Articles/Vologda/vologda6.png");
}

.kareliagde {
    background-image: url("../images/Articles/Karelia/kareliagde.png");
}

.karelia4 {
    background-image: url("../images/Articles/Karelia/karelia4.png");
}

.ryzangde {
    background-image: url("../images/Articles/Ryzan/ryzangde.png");
}

.ryzan {
    background-image: url("../images/Articles/Ryzan/ryzan.png");
}

.podolsk4 {
    background-image: url("../images/Articles/Podolsk/podolsk4.png");
}

.podolskgde {
    background-image: url("../images/Articles/Podolsk/podolskgde.png");
}

.shatura1 {
    background-image: url("../images/Articles/Shatura/shatura1.png");
}

.shatura2 {
    background-image: url("../images/Articles/Shatura/shatura2.png");
}

.shatura3 {
    background-image: url("../images/Articles/Shatura/shatura3.png");
}

.shatura4 {
    background-image: url("../images/Articles/Shatura/shatura4.png");
}

.kostromak {
    background-image: url("../images/Articles/Kostroma/kostromak.png");
}

.kostromagde {
    background-image: url("../images/Articles/Kostroma/kostromagde.png");
}

.kostroma2 {
    background-image: url("../images/Articles/Kostroma/kostroma2.png");
}

.kostroma3 {
    background-image: url("../images/Articles/Kostroma/kostroma3.png");
}

.ivanovo1 {
    background-image: url("../images/Articles/Ivanovo/ivanovo1.png");
}

.ivanovo2 {
    background-image: url("../images/Articles/Ivanovo/ivanovo2.png");
}

.ivanovo3 {
    background-image: url("../images/Articles/Ivanovo/ivanovo3.png");
}

.ivanovogde {
    background-image: url("../images/Articles/Ivanovo/ivanovogde.png");
}

.kolomnaart {
    background-image: url("../images/Articles/Kolomna/kolomnaart.png");
}

.kolomnagde {
    background-image: url("../images/Articles/Kolomna/kolomnagde.png");
}

.kolomnapastila {
    background-image: url("../images/Articles/Kolomna/kolomnapastila.png");
}

.kolomnak {
    background-image: url("../images/Articles/Kolomna/kolomnak.png");
}

.zelenograd {
    background-image: url("../images/Articles/Zelenograd/zelenograd.png");
}

.zelenograd1 {
    background-image: url("../images/Articles/Zelenograd/zelenograd1.png");
}

.zelenograd2 {
    background-image: url("../images/Articles/Zelenograd/zelenograd2.png");
}

.tula1 {
    background-image: url("../images/Articles/Tula/tula1.png");
}

.tula2 {
    background-image: url("../images/Articles/Tula/tula2.png");
}

.tulagde {
    background-image: url("../images/Articles/Tula/tulagde.png");
}

.tver4 {
    background-image: url("../images/Articles/Tver/tver4.png");
}

.tver5 {
    background-image: url("../images/Articles/Tver/tver5.png");
}

.vereya1 {
    background-image: url("../images/Articles/Vereya/vereya1.png");
}

.vereya2 {
    background-image: url("../images/Articles/Vereya/vereya2.png");
}

.zaraysk1 {
    background-image: url("../images/Articles/Zaraysk/zaraysk1.png");
}

.zaraysk2 {
    background-image: url("../images/Articles/Zaraysk/zaraysk2.png");
}

.zaraysk3 {
    background-image: url("../images/Articles/Zaraysk/zaraysk3.png");
}

.pereslavl1 {
    background-image: url("../images/Articles/Pereslavl/pereslavl1.png");
}

.voronezh4 {
    background-image: url("../images/Articles/Voronezh/voronezh4.png");
}

.voronezh5 {
    background-image: url("../images/Articles/Voronezh/voronezh5.png");
}

.yaroslavl1 {
    background-image: url("../images/Articles/Yaroslavl/yaroslavl1.png");
}

.yaroslavl2 {
    background-image: url("../images/Articles/Yaroslavl/yaroslavl2.png");
}

.yaroslavl3 {
    background-image: url("../images/Articles/Yaroslavl/yaroslavl3.png");
}

.yaroslavl4 {
    background-image: url("../images/Articles/Yaroslavl/yaroslavl4.png");
}

.piter4 {
    background-image: url("../images/Articles/Piter/piter4.png");
}

.piter5 {
    background-image: url("../images/Articles/Piter/piter5.png");
}

.piter6 {
    background-image: url("../images/Articles/Piter/piter6.png");
}

.pitergde {
    background-image: url("../images/Articles/Piter/pitergde.png");
}

.bor4 {
    background-image: url("../images/Articles/Bor/bor4.png");
}

.bor5 {
    background-image: url("../images/Articles/Bor/bor5.png");
}

.bor6 {
    background-image: url("../images/Articles/Bor/bor6.png");
}

.borgde {
    background-image: url("../images/Articles/Bor/borgde.png");
}

.korolev1 {
    background-image: url("../images/Articles/Korolev/korolev1.png");
}

.korolev2 {
    background-image: url("../images/Articles/Korolev/korolev2.png");
}

.korolev3 {
    background-image: url("../images/Articles/Korolev/korolev3.png");
}

.korolevgde {
    background-image: url("../images/Articles/Korolev/korolevgde.png");
}

.documents {
    background-image: url("../images/Articles/Statia/documents.png");
}

.aid {
    background-image: url("../images/Articles/Statia/aid.png");
}

.list {
    background-image: url("../images/Articles/Statia/list.png");
}


.suitcase {
    background-image: url("../images/Articles/Statia/suitcase.png");
}

.panda {
    background-image: url("../images/Articles/Statia/panda.png");
}

.zoo {
    background-image: url("../images/Articles/Statia/zoo.png");
}

.park {
    background-image: url("../images/Articles/Statia/park.png");
}

.cirk {
    background-image: url("../images/Articles/Statia/cirk.png");
}

.books {
    background-image: url("../images/Articles/Statia/books.png");
}

.headphones {
    background-image: url("../images/Articles/Statia/headphones.png");
}

.city {
    background-image: url("../images/Articles/Statia/city.png");
}

.apps {
    background-image: url("../images/Articles/Statia/apps.png");
}

.map {
    background-image: url("../images/Articles/Statia/map.png");
}

.food {
    background-image: url("../images/Articles/Statia/food.png");
}

.forest {
    background-image: url("../images/Articles/Statia/forest.png");
}

.winter {
    background-image: url("../images/Articles/Statia/winter.png");
}

.people {
    background-image: url("../images/Articles/Statia/people.png");
}

.plans {
    background-image: url("../images/Articles/Statia/plans.png");
}

.ges {
    background-image: url("../images/Articles/Statia/ges.png");
}

.gorkogo {
    background-image: url("../images/Articles/Statia/gorkogo.png");
}

.car {
    background-image: url("../images/Articles/Statia/car.png");
}

.hleb {
    background-image: url("../images/Articles/Statia/hleb.png");
}

.high {
    background-image: url("../images/Articles/Statia/high.png");
}

.attract {
    background-image: url("../images/Articles/Statia/attract.png");
}

.fest {
    background-image: url("../images/Articles/Statia/fest.png");
}

.peshera {
    background-image: url("../images/Articles/Statia/peshera.png");
}

.castle {
    background-image: url("../images/Articles/Statia/castle.png");
}

.present {
    background-image: url("../images/Articles/Statia/present.png");
}

.dishes {
    background-image: url("../images/Articles/Statia/dishes.png");
}

.beach {
    background-image: url("../images/Articles/Statia/beach.png");
}

.trees {
    background-image: url("../images/Articles/Statia/trees.png");
}

.kolomenskoe {
    background-image: url("../images/Articles/Statia/kolomenskoe.png");
}

.zveni {
    background-image: url("../images/Articles/Statia/zveni.png");
}
.first {
    background-image: url("../images/Articles/Tarusa/Rectangle 108.png");
}

#height {
    height: 98vw;
}
#margin {
    margin-bottom: 3.13vw;
}

#opacity:hover {
    opacity: 1;
}

#without-gap {
    margin-top: 0.56vw;
}

.photosquare {
    margin-top: 1.46vw;
    display: flex;
    gap: 0.556vw; 
    flex-direction: row;
}

.square {
    width: 20.417vw;
    height: 20.417vw;
    border-radius: 1.111vw;
    overflow: hidden;
}
.square img {
    width: 20.417vw;
}
