.main-i {
    top: 1.875vw;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 95vw;
    height: 47.891vw;
    border-radius: 3.750vw;
}
.main-i img{
    position: relative;
    width: 95vw;
    height: 47.891vw;
}
.block1 {
    display: flex;
    flex-direction: column;
    gap: 1.875vw;
    top: 31.563vw;
    left: 1.250vw;
    position: absolute;
    width: 87.5vw;
    height: 10.078vw;
    border-radius: 3.125vw;
    background: var(--white);
    padding: 2.5vw;
}
.block1 h1 {
    color: var(--black);
    font-size: 3.75vw;
    font-weight: 400;
    text-transform: uppercase;
}
.tags {
    display: flex;
    flex-direction: row;
    gap: 0.938vw;
}
.tag1, .tag2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.125vw;
    height: 3.906vw;
    background: var(--grey);
}
.tags p {
    color: var(--black);
    font-weight: 300;
    font-size: 1.484vw;
}
.tag1 {
    width: 8.516vw;
}
.tag2 {
    width: 16.797vw;
}

// зачем
.headings {
    position: relative;
    padding-top: 7.5vw;
    margin: auto;
    width: 62.969vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}
.headings h2 {
    color: var(--black);
    font-size: 2.813vw;
    font-weight: 400;
    text-transform: uppercase;
}
.headings p {
    color: var(--black);
    font-weight: 300;
    font-size: 1.484vw;
    line-height: 115%;
}
.pic {
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    overflow: hidden;
    width: 62.969vw;
    height: 34.297vw;
    border-radius: 2.5vw;
}
.pic img {
    width: 62.969vw;
    height: 34.297vw;
}
.marked h3 {
    color: var(--black);
    font-weight: 800;
    font-size: 1.484vw;
}
.marked p {
    padding-top: 1vw;
}
.footer2 {
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 2.5vw 2.5vw 2.5vw;
}
.footer2 p {
    color: var(--black);
    font-weight: 300;
    font-size: 1.484vw;
}