h1 {
    font-family: ALS Savage;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
}
h2 {
    font-family: ALS Savage;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
}
h3 {
    font-family: ALS Savage;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
}
h4 {
    font-family: ALS Savage;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
}
h5 {
    font-family: ALS Savage;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
}