.beginning {
    display: flex;
    margin: auto;
    gap: 0.72vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1.67vw;
    padding-right: 1.67vw;
}
.first-part, .second-part {
    display: flex;
    margin: auto;
    gap: 3.33vw;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.shrink {
    width: 34vw;
}
.start {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
}
.more {
    display: flex;
    align-items: center;
    gap: 1.11vw;
    flex-direction: row;
    opacity: 0.3;
}
.more img {
    width: 1.04vw;
}
.more:hover {
    opacity: 1;
    cursor: pointer; 
}
.trips {
    margin: auto;
    margin-top: 9.17vw;
    padding-left: 1.67vw;
    padding-right: 1.67vw;
}
.Long-card, .squareCard, .squareCard-long {
    border-radius: 2.22vw;
    overflow: hidden;
    display: flex;
    height: 23.33vw;
    width: 47.78vw;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-size: cover;


}
.Tarusa {
    background-image: url("./images/cards/Tarusa.png");
    background-size: cover;

}
.Long-card img, .squareCard img {
    position: relative;
    width: 47.78vw;
}
.wheel {
    background-image: url("./images/cards/wheel.svg");
    background-size: cover;
}
.squareCard-long .desc-square-card-test {
    margin-left: 0.5vw;
}
.description-card, .desc-square-card, .desc-square-card-test {
    width: 46.67vw;
    height: 9.44vw;
    display: flex;
    flex-direction: column;
    gap: 0.83vw;
    border-radius: 1.67vw;
    background-color: var(--white);
    padding: 1.67vw;
    box-sizing: border-box;
    margin-bottom: 0.56vw;
    justify-content: space-between;
}
.squareCard-long {
    flex-direction: row;
    justify-content: start;
}
.long {
    margin-bottom: 0vw;
}
.rasstoyanie {
    display: flex;
    flex-direction: column;
    gap: 0.83vw;
}

.desc-square-card-test {
    width: 22.22vw;
    height: 22.22vw;
}

.playlist, .playlist2 {
    background-image: url("./images/cards/playlist1.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.playlist2 {
    background-image: url("./images/cards/playlist2.png");
}
.otstup {
    margin-top: 2.22vw;
}
.twoCards {
    display: flex;
    flex-direction: row;
    gap: 1.11vw;
}
.squareCard {
    width: 23.33vw;
}


.desc-square-card {
    width: 22.22vw;
}
.otstup {
    margin-top: 2.22vw;
}
.twoCards, .fourCards {
    display: flex;
    flex-direction: row;
    gap: 1.11vw;
}
.fourCards {
    margin-top: 1.11vw;
}
.CardStory {
    opacity: 0.3;
}

.form {
    display: flex;
    padding-left: 0.86vw;
    padding-right: 0.86vw;
    border-radius: 2.22vw;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    margin-top: 17.15vw;
    width: 96.67vw;
    height: 25.35vw;
    flex-direction: row;
    align-items: center;
    background-color: var(--green);
    justify-content: end;
}


.subscribe {
    display: flex;
    flex-direction: row;
    gap: 6.94vw;
    position: absolute;
    border-radius: 1.67vw;
    background-color: var(--white);
    width: 71.60vw;
    height: 24.24vw;
    padding: 3.47vw;
    box-sizing: border-box;
}
.text-adv {
    display: flex;
    flex-direction: column;
    gap: 2.99vw;
    width: 29.86vw;

}

.forma-back {
    margin-top: 47vw;
    margin-left: -11vw;
    color: var(--dark-green);
    text-align: center;
    font-family: MabryPro;
    font-size: 21.74vw;
    font-style: normal;
    font-weight: 700;
    line-height: 75%; 
    letter-spacing: -0.21vw;
}

.fill-in {
    font-family: MabryPro;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.6vw;
    letter-spacing: -0.01em;
    text-align: left;
}
#my-form {
    display: flex;
    flex-direction: column;
    gap: 0.76vw;
}
.name input, .email input, button {
    display: flex;
    width: 27.36vw;
    height: 5.07vw;
    padding-left: 1.74vw;
    box-sizing: border-box;
    align-items: center;
    border-radius: 4.1vw;
    border: 0.2vw solid var(--blue-grey);
    font-family: MabryPro;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.6vw;
    letter-spacing: -0.01em;
    text-align: left;
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
}
button p {
    text-align: center;
}
.action {
    background-color: var(--green);
    border: 0.07vw solid var(--green);
}
.action:hover  {
    background-color: var(--dark-green);
    border: 0.07vw solid var(--dark-green);
}

.family {
    background-image: url("./images/cards/semya.png");
}
.apps {
    background-image: url("./images/cards/apps.png");
}
.dnforget {
    background-image: url("./images/cards/neobhodimoe.png");
}
.map {
    background-image: url("./images/cards/map.png");
}
.winter {
    background-image: url("./images/cards/zima.png");
}
.festival {
    background-image: url("./images/cards/fasts.png");
}
.bloggers {
    background-image: url("./images/cards/travel.png");
}
.kids {
    background-image: url("./images/cards/deti.png");
}
.Road {
    background-image: url("./images/cards/doroga.png");
}
.for-everyone {
    background-image: url("./images/cards/programa.png");
}
.aventure {
    background-image: url("./images/cards/extrim.png");
}
.shopping {
    background-image: url("./images/cards/russia.png");
}
.bza {
    background-image: url("./images/cards/baza.png");
}
.summer {
    background-image: url("./images/cards/summertime.png");
}
.Moscow {
    background-image: url("./images/cards/moscow.png");
}
.Mistic {
    background-image: url("./images/cards/magic.png");
}

.overlap {
    margin-top: -36.7vw;
    margin-left: 5.42vw;
    position: absolute;
    z-index: 1;
}
.character img{
    width: 24.65vw;
}
.button-png img{
    width: 6.53vw;
}
.pin img{
    width: 15.21vw;
}
.pin {
    position: absolute;
    top: 29vw;
    left: 50vw;
}
.button-png {
    position: absolute;
    top: 9vw;
    left: 85vw;
}
.big-footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 11.49vw;
    margin-top: 11.88vw;
    padding-left: 1.67vw;
    padding-right: 1.67vw;
}
.big-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Vk-social {
    width: 37vw;
    height: 18vw;
    transform: rotate(37deg);
    background-color: #07F;
    border-radius: 0 0 100vw 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-left: -6vw;
}
.Vk-social img {
    width: 19.17vw;
    padding-bottom: 4vw;
}
.Dzen-social {
    margin-top: -7vw;
    margin-left: -11vw;
    width: 38.75vw;
    height: 21.75vw; 
    display: flex;
    justify-content: center;
    align-items: end;
}
.Dzen-social::after {
    content: "";
    margin-top: -10vw;
    position: absolute;
    width: 20vw;
    height: 20vw;    
    border-left: 10vw solid var(--white);
    border-right: 10vw solid #FFBD18;
    border-top: 10vw solid var(--white);
    border-bottom: 10vw solid #FFBD18;
    border-radius: 10vw 150vw 120vw 150vw;
    transform: rotate(42deg);
    z-index: -1;
}
.Dzen-social img {
    width: 15.75vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
}
.TG-social {
    width: 38vw;
    height: 11.25vw;
    transform: rotate(-40deg);
    background-color: #2AABEE;
    margin-left: -11.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TG-social img {
    width: 7vw;
}
.Nelz-social {
    width: 22.01vw;
    height: 22.01vw;
    border-radius: 22.01vw;
    background: #FD94D7;
    margin-left: -10.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Nelz-social img {
    width: 5vw;
}

.Vk-social:hover, .TG-social:hover, .Nelz-social:hover {
    background-color: var(--purple);
}
.Dzen-social:hover::after {
    border-right: 10vw solid var(--purple);
    border-bottom: 10vw solid var(--purple);
}
.beginning-mobile {
    display: none;
    margin: auto;
    gap: 0.72vw;
    align-items: self-start;
    justify-content: self-start;
    flex-direction: column;
    padding-left: 1.67vw;
    padding-right: 1.67vw;
}
