.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 2.22vw 2.22vw;
    padding:  1.39vw 3.06vw 1.39vw 2.22vw;
    background: var(--white);
}
.icons {
    display: flex;
    align-items: center;
    gap: 4.44vw;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2.22vw 2.22vw 0px 0px;
    padding:  2.22vw 3.06vw 3.06vw 2.22vw;
    background: var(--white);
}
.socials {
    display: flex;
    align-items: center;
    gap: 1.67vw;
}