body {
    background: var(--white);
    font-family: ALS Savage;
    font-style: normal;
}
.menu {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 2.5vw 0vw 2.5vw;
}
.navigation {
    display: flex;
    flex-direction: row;
    gap: 1.25vw;

}
.socials {
    display: flex;
    flex-direction: row;
    gap: 1.875vw;
}
.promo-b {
    width: 7.891vw;
}
a {
    text-decoration:none;
    color: var(--black);
    font-weight: 300;
    font-size: 1.484vw;
}
#Active, #inactive {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.125vw;
    height: 3.906vw;
}
#Active {
    background: var(--green);
}
#inactive {
    background: var(--white);
    border: 0.078vw solid var(--black);
}
.about-b {
    width: 7.422vw;
}
.article-b {
    width: 11.563vw;
}
.link img{
    padding-left: 0.625vw;
}
.menu p {
    font-size: 1.484vw;
    font-weight: 600;
    margin-right: 8.6vw;
    text-align: center;
}
.link img {
    height: 1.094vw;
    width: 0.781vw;
}
#inactive:hover {
    background: var(--green);
    border: 0.078vw solid var(--green);
}

// круг-форма
.forma {
    width: 100%;
    top: 35.625vw;
    position: absolute;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.round-forma {
    display: flex;
    background: var(--green);
    height: 40.469vw;
    width: 40.469vw;
    border-radius: 40.469vw;
    justify-content: center;
}
form {
    top: 7.188vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.781vw;
}
label {
    font-size: 1.641vw;
    font-weight: 400;
}
input {
    width: 23.594vw;
    height: 1.719vw;
    border: none;
    background: var(--green);
}
.button {
    top: 4.6vw;
    position: relative;
}
button {
    height: 15.234vw;
    width: 15.234vw;
    border-radius: 15.234vw;
    background: var(--green);
    border: 0.078vw solid var(--black);
}
button p {
    text-align: center;
    font-size: 1.484vw;
    font-weight: 300;
    font-family: ALS Savage;
    font-style: normal;
    line-height: 115%;
}
button:hover {
    background: #C8E605;
    border: 0.078vw solid #C8E605;
}
#my-form-status {
    top: 1.6vw;
    position: relative;
}
.back {
    top: 23.3vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--black);
    font-size: 7.500vw;
    font-weight: 400;
}
.back-2 {
    width: 13vw;
    top: 16.8vw;
    left: 60vw;
    position: relative;
    color: var(--black);
    font-size: 1.094vw;
    font-weight: 300;
    line-height: 115%;
    text-align: center;
}
.front {
    top: 17.3vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--black);
    font-size: 7.500vw;
    font-weight: 400;
}
.rotate-circle {
    overflow: hidden;
    width: 100%;
    top: 16.563vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.rotate-circle img{
    width: 80%;
    height: 80%;
    animation: rotatee 20s linear infinite ;
}
@keyframes rotatee {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}