body {
    background: var(--white);
    font-family: ALS Savage;
    font-style: normal;
}
.menu {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 2.5vw 0vw 2.5vw;
}
.navigation {
    display: flex;
    flex-direction: row;
    gap: 1.25vw;

}
.socials {
    display: flex;
    flex-direction: row;
    gap: 1.875vw;
}
.promo-b {
    width: 7.891vw;
}
a {
    text-decoration:none;
    color: var(--black);
    font-weight: 300;
    font-size: 1.484vw;
}
#Active, #inactive {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.125vw;
    border: 0.078vw solid var(--green);
    height: 3.906vw;
}
#Active {
    background: var(--green);
}
#inactive {
    background: var(--white);
    border: 0.078vw solid var(--black);
}
.about-b {
    width: 7.422vw;
}
.article-b {
    width: 11.563vw;
}
.link img{
    padding-left: 0.625vw;
}
.logo {
    margin-right: 8.6vw;
    text-align: center;
}
.link img {
    height: 1.094vw;
    width: 0.781vw;
}
#inactive:hover {
    background: var(--green);
    border: 0.078vw solid var(--green);
}

.first-screeen h1{
    position: relative;
    text-align: center;
    font-size: 5.62vw;
    font-weight: 300;
    line-height: 115%;
    text-transform: uppercase;
}
.first-screeen {
    margin-top: 4.72vw;
    position: relative;
}

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25vw;
}

.adv1, .adv2, .adv3, .adv4 {
    overflow: hidden;
    width: 22.81vw;
    height: 21.81vw;
    border-radius: 2.22vw;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1vw;
}
.adv2 {
    position: relative;
    top: 10.42vw;
}
.adv3 {
    position: relative;
    top: 4.17vw;
}
.adv4 {
    position: relative;
    top: -2vw;
}
.adv4 {
    background-color: var(--purple);
}

.advantages img{
    position: relative;
    top: 1vw;
    width: 22.81vw;
    height: 22.81vw;
}

.inside, .inside2 {
    position: absolute;
    display: flex;
    padding: 0.97vw 2.43vw 1.11vw 1.11vw;
    align-items: center;   
    width: 18vw;
    height: 6.41vw;
    border-radius: 1.39vw;
    background-color: var(--white);
}

.inside2 {
    display: inline-flex;
    padding: 1.09vw 0.94vw 1.25vw 1.25vw;
    justify-content: flex-end;
    align-items: center;

}
.inside, .inside2 p {
    font-size: 1.88vw;
    font-weight: 400;
    line-height: 110%; 
}

.green-back {
    position: absolute;
    width: 100vw;
    height: 166.67vw;
    background-color: var(--green);
    z-index: -1;

}
.background {
    position: absolute;
    background-color: var(--white);
    width: 100vw;
    height: 100vw;
    border-bottom-left-radius: 100vw;
    border-bottom-right-radius: 100vw;
    z-index: -1;
}


.first-screeen h2 {
    margin-left: auto;
    margin-right: auto;
    width: 46.88vw;
    margin-top: 20vw;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 110%;
}

.background2 {
    margin-top: 41.25vw;
    position: absolute;
    background-color: var(--white);
    width: 100vw;
    height: 100vw;
    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;
    z-index: -1;
}
.second-screen2 {
    margin-top: 70vw;
    position: relative;
    width: 100%;
}
.second-screen2 h1 {
    text-align: center;
    font-size: 6.64vw;
    font-weight: 300;
    text-transform: uppercase;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25vw;
}
.articles .blbl {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1vw;
    margin-top: 3.75vw;
    width: 30.86vw;
    height: 29.86vw;
    border-radius: 2.50vw;
    background-color: var(--green);
}
.rect {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.02vw;
    padding: 0.97vw 2.43vw 1.11vw 1.11vw;
    justify-content: center;   
    border-radius: 1.39vw;
    width: 24.5vw;
    height: 7.66vw;
    background-color: var(--white);
}
.rect p {
    font-size: 1.88vw;
    font-weight: 400;
}
.plashka {
    display: inline-flex;
    padding: 0.55vw 1.33vw 0.78vw 1.33vw;
    justify-content: center;
    align-items: center;
    width: 8vw;
    border-radius: 3.13vw;
    background-color: var(--green);
}
.plashka p {
    font-size: 1.25vw;
    font-weight: 300;
}

.articles img{
    position: relative;
    top: 1vw;
    width: 30.86vw;
    height: 30.86vw;
}

.thrd-block {
    overflow: hidden;
    margin-top: 10.16vw;
    display: inline-flex;
    flex-direction: column;
    gap: 1.88vw;
    justify-content: center;
    width: 95vw;
    height: 35.63vw;
    border-radius: 32px;
    padding-left: 3.75vw;
    background-color: var(--purple);
}

.tryy11 {
    display: flex;
    justify-content: center;

}

.thrd-block img {
    width: 100vw;
}
.overlay {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    gap: 1.88vw;
    justify-content: center;
}
.thrd-block h1 {
    color: var(--white);
    font-size: 5.63vw;
    font-weight: 400;
    line-height: 115%; 
    text-transform: uppercase;
}
.thrd-block p {
    color: var(--white);
    font-size: 1.48vw;
    font-weight: 300;
    line-height: 115%;
    width: 32.89vw;
}
.opros {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.125vw;
    width: 13.13vw;
    height: 3.906vw;
    background: var(--white);
}
.opros p {
    text-align: center;
    color: var(--black);
    font-size: 1.48vw;
    font-weight: 300;
}
.socials-screen2 {
    margin-top: 11.72vw;
    position: relative;
    width: 100%;
}
.socials-screen2 h1 {
    text-align: center;
    font-size: 6.64vw;
    font-weight: 300;
    text-transform: uppercase;
}




// круг-форма
.forma {
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    top: 7.188vw;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.781vw;
}
label {
    font-size: 1.641vw;
    font-weight: 400;
}
input {
    width: 23.594vw;
    height: 1.719vw;
    border: none;
    background: var(--green);
}
.button {
    position: relative;
}
button {
    height: 3.91vw;
    width: 14.77vw;
    border-radius: 15.234vw;
    border: 0;
    background-color: var(--white);
}
input {
    margin-right: 1.25vw;
    padding-left: 1.56vw;
    height: 3.91vw;
    width: 30.86vw;
    border-radius: 15.234vw;
    border: 0.08vw solid var(--black);
    background-color: var(--green);
}
#my-form-status {
    text-align: center;
    font-size: 1.484vw;
    font-weight: 300;
    font-style: normal;
    line-height: 115%;
}
button p {
    text-align: center;
    font-size: 1.484vw;
    font-weight: 300;
    font-style: normal;
    line-height: 115%;
}
button:hover {
    background: var(--green);
    border: 0;
}
#my-form-status {
    top: 1.6vw;
    position: relative;
}
.back {
    top: 16.3vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--black);
    font-size: 7.500vw;
    font-weight: 400;
}
.back-2 {
    width: 13vw;
    top: 9.6vw;
    left: 57vw;
    position: relative;
    color: var(--black);
    font-size: 1.094vw;
    font-weight: 300;
    line-height: 115%;
    text-align: left;
}
.footer {
    margin-top: 8.97vw;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 2.5vw 2.5vw 2.5vw;
    background-color: var(--green);
}
.footer p {
    color: var(--black);
    font-weight: 300;
    font-size: 1.484vw;
}

.background3 {
    margin-top: 10vw;
    position: absolute;
    background-color: var(--green);
    width: 100vw;
    height: 50vw;
    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;
    z-index: -1;
}
.headd h1 {
    text-align: center;
    font-size: 6.64vw;
    font-weight: 300;
    text-transform: uppercase;
}
.headd {
    margin-top: 29.84vw;
}