.first-screen {
    top: 10vw;
    position: relative;
    width: 100%;
}
.first-screen h1{
    position: relative;
    text-align: center;
    font-size: 5.62vw;
    font-weight: 300;
    line-height: 115%;
    text-transform: uppercase;
}
.longread {
    top: 4.2vw;
    left: 12.71vw;
}
.tired {
    top: -1.8vw;
    left: 33.71vw;
}
.project {
    top: -1.8vw;
    right: 25vw;
}
.watch {
    top: 4.2vw;
    right: 5vw;
}
.nothing {
    top: 11vw;
    right: 45vw;
}
#bubble {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    background: var(--white);
    border-radius: 1.06vw;
    padding: 1.3vw 1.5vw 1.5vw 1.5vw;
    border: 1px solid var(--black);
}
.first-screen p {
    text-align: center;
    font-size: 1.59vw;
    font-weight: 300;
}
.second-screen {
    top: 10vw;
    position: relative;
    width: 100%;
}
.second-screen img{
    top: 10vw;
    position: absolute;
    width: 100%;
}
.line2 {
    top: 5vw;
    left: 50vw;
    position: absolute;
    width: 0.07vw;
    height: 66.14vw;
    background: var(--black);
}
.circlee {
    position: relative;
    top: 30vw;
    left: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.57vw;
    height: 20.57vw;
    border-radius: 20.57vw;
    border: 1px solid var(--black);
    background: var(--white);
}
.second-screen p {
    text-align: center;
    font-size: 1.59vw;
    font-weight: 300;
}
.thr-fr-screen h1{
    position: relative;
    text-align: center;
    font-size: 5.62vw;
    font-weight: 300;
    line-height: 115%;
    text-transform: uppercase;
}
.thr-fr-screen {
    top: 62vw;
    position: relative;
}
.gr {
    position: absolute;
    top: 6vw;
    left: 44vw;
    display: inline-flex;
    padding: 1.06vw 1.12vw;
    align-items: center;
    background: var(--green);
}
.gr img {
    width: 17.72vw;
}