.side {
    margin-top: 15vw;
    position: fixed;
    width: 18vw;
    height: 27.78vw;
}
nav {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    padding: 0vw 3.33vw;
}
nav a {
    font-size: 1.32vw;
    font-weight: 300;
}