.dag {
    background-image: url("./images/dag.png");
    background-size: cover;
}
.borovsk {
    background-image: url("./images/borovsk.png");
    background-size: cover;
}

.Vert {
    width: 20vw;
    height: 30vw;
    background-color: var(--purple);
    background-image: url("./images/Symbol.png");
    background-size: cover;
}
.Gor {
    width: 76vw;
    height: 30vw;
    background-image: url("./images/Syb.png");
    background-size: cover;
}

.sh {
    padding-left: 1vw;
}