.guide h1{
    font-size: 3.33vw;
    font-weight: 450;
    line-height: 95%;
    letter-spacing: -0.96px;
}
.guide p {
    margin-top: 4.17vw;
    font-size: 2.50vw;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.72px;
}
// общее смещение секций
.guide section {
    padding-left: 20vw;
}
.guide a{
    font-size: 1.5vw;
    font-weight: 450;
    line-height: 95%;
}

.st-menu {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 1.6vw 0vw 1.6vw;
}
.st-menu p {
    margin-top: 0;
    color: var(--black);
    font-size: 1.25vw;
    font-weight: 450;
    line-height: 95%;
    letter-spacing: -0.36px;
}
.st-menu a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5vw;
    text-decoration-thickness: 0.15vw;
    text-decoration-color: var(--green);
}

// боковое меню 
.side {
    margin-top: 15vw;
    position: absolute;
    width: 14vw;
    height: 27.78vw;
}
nav {
    position: fixed;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.11vw;
    padding: 0vw 1.67vw;
}
// первый экран 
.first-styleguide {
    display: flex;
    flex-direction: column;
    padding-left: 3.82vw;
    padding-right: 3.82vw;
    margin-bottom: 11.81vw;
}

.first-blockk h1{
    color: var(--black);
    text-align: center;
    font-size: 5.90vw;
    font-weight: 300;
    text-transform: uppercase;
}
.first-blockk {
    display: flex;
    gap: 1vw;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.grr {
    display: inline-flex;
    padding: 1.06vw 1.12vw;
    border-radius: 1.11vw;
    align-items: center;
    background: var(--green);
}
.gr img {
    width: 17.72vw;
}

.secondline {
    display: flex;
    flex-direction: row;
}

.line {
    left: 0;
    width: 100%;
    position: absolute;
    display: block;
    overflow: hidden;
    height: 40.625vw;
}

// о бренде 
.about {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 60vw;
    background-color: aqua;
}

