.to-top {
    margin-top: 3.96vw;
}
.otst {
    margin-top: 1.11vw;
}
.textic {
    align-items: center;
}
.piter {
    background-image: url("./images/cards/piter.png");
}
.nizhny {
    background-image: url("./images/cards/nizhny.png");
}
.bor {
    background-image: url("./images/cards/bor_cover.png");
}
.suzdal {
    background-image: url("./images/cards/suzdal_cover.png");
}
.Spas {
    background-image: url("./images/cards/spas_cover.png");
}
.ser-pos {
    background-image: url("./images/cards/sergiev_cover.png");
}