.to-top {
    margin-top: 3.96vw;
}
.otst {
    margin-top: 1.11vw;
}
.textic {
    align-items: center;
}
.piter {
    background-image: url("./images/cards/piter.png");
}
.nizhny {
    background-image: url("./images/cards/nizhny.png");
}
.bor {
    background-image: url("./images/cards/bor_cover.png");
}
.suzdal {
    background-image: url("./images/cards/suzdal_cover.png");
}
.Spas {
    background-image: url("./images/cards/spas_cover.png");
}
.ser-pos {
    background-image: url("./images/cards/sergiev_cover.png");
}
.Spass {
    background-image: url("./images/cards/spas.png");
}
.ser-pos2 {
    background-image: url("./images/cards/sergiev.png");
}
.klin {
    background-image: url("./images/cards/klin.png");
}
.podolsk {
    background-image: url("./images/cards/podolsk_cover.png");
}
.shatura {
    background-image: url("./images/cards/shatura_cover.png");
}
.kostroma {
    background-image: url("./images/cards/kostroma_cover.png");
}
.ivanovo {
    background-image: url("./images/cards/ivanovo_cover.png");
}
.ryazan {
    background-image: url("./images/cards/ryzan_cover.png");
}
.karelia {
    background-image: url("./images/cards/karelia_cover.png");
}
.Zelenograd {
    background-image: url("./images/cards/zelenograd.png");
}
.tula {
    background-image: url("./images/cards/tula_cover.png");
}
.Tver {
    background-image: url("./images/cards/Tver_cover.png");
}
.vereya {
    background-image: url("./images/cards/vereya_cover.png");
}
.zaraisk {
    background-image: url("./images/cards/zaraysk_cover.png");
}
.per-zal {
    background-image: url("./images/cards/pereslavl.png");
}
.voronezh {
    background-image: url("./images/cards/voronezh_cover.png");
}
.kolomna {
    background-image: url("./images/cards/kolomna_cover.png");
}
.korolyov {
    background-image: url("./images/cards/korolev.png");
}
.Vologda {
    background-image: url("./images/cards/vologda_cover.png");
}