:root {
    --white: #FFFF;
    --blue-grey: #EFF2F8;
    --green: #E6FF55;
    --dark-green: #D6ED4F;
    --purple: #5570FF;
    --light-purple: #7389FF;
    --black: #1C1C1C;

    --yellow: #FFE15F;
    --blue: #9ACEF9;
    --orange: #FAA746;
    --red: #E56461;
    --soft-purple: #9094F4;
    --soft-green: #82BF9E;
}
