.city-test .tag2{
    width: 12vw;
}
ul, li {
    color: var(--black);
    font-size: 1.32vw;
    font-weight: 300;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 0.83vw;
}
.circle {
    display: inline-block;
    width: 1.53vw;
    height: 1.53vw;
    border-radius: 50%;
    cursor: pointer;
  }

.selected {
    background-color: var(--green);
    border: 0.078vw solid var(--green);
  }

.unselected {
    background-color: var(--white);
    border: 0.078vw solid var(--black);
  }
li {
    display: flex;
    align-content: center;
    gap: 1vw;
}
.city-test .footer2 {
    margin-top: 5vw;
}
.button1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3.125vw;
    background: #DFFF0E;
    width: 34.51vw;
    height: 4.31vw;
}
.button1 a {
    font-size: 1.32vw;
}
.paragraph {
    width: 63.96vw;
    color: var(--black);
    font-size: 1.32vw;
    font-weight: 300;
    line-height: 115%; 
}